.galery-menu {
  position: relative;
  width: 400px;
  height: 100%;
  border: 1px solid black;
}

.galery-top-line {
  position: absolute;
  top: 0;
  width: 100%;
  height: 5%;

  display: flex;
}

.galery-search {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-keyboard {
  width: 80%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.galery-back {
  width: 19%;
}

.galery-title {
  position: absolute;
  top: 6%;
  width: 100%;
  height: 3%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2.5rem;
}

.galery-images {
  position: absolute;
  top: 13%;
  width: 100%;
  border-top: 1px solid black;
}

.galery-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}

.image {
  height: 90%;
  width: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
