.information {
    color: white;
    margin-right: 95px;
    margin-top: 65px;
    background-color: black;
    position: fixed;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 1px 3px #fbcd0f;
    border-radius: 12px 12px 12px 12px;
    display: flex;
    flex-direction: column;
}

.informationalign {
    margin-top: 50px;
    margin-left: 30px;
}

.focus {
    text-align: center;
    margin-top: 120px;
    font-size: 23px;
    color: black;
    background-color: #fccc12;
}

.information h1 {
    text-align: center;
    width: 429px;
    height: 45px;
    /* color: white; */
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.highlight {
    color: #fccc12;
    font-size: 1.8rem;
}

.information p {
    font-size: 1.4rem;
}

@media screen and (min-width: 1281px) {
    .information {
        width: 568px;
        height: 70vh;
        top: 5vh;
        right: 0;
    }
    .focus {
        position: fixed;
        bottom: 300px;
        height: 44px;
        width: 565px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .information h1 {
        font-size: 1.5rem;
    }
    .informationalign {
        margin-top: 100px;
        margin-left: 60px;
    }
}

@media screen and (max-width: 1280px) {
    .information {
        top: 5vh;
        right: 0;
        height: 70vh;
        width: 60vh;
    }
    .information h1 {
        font-size: 1.5rem;
    }
    .focus {
        width: 430px;
        position: fixed;
        bottom: 150px;
    }
}