.information {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    position: fixed;
    top: 130px;
    right: 0px;
    width: 30%;
    height: 50%;
}

.information h1 {
    margin-top: 20px;
    margin-left: 20px;
}

@media screen and (min-width: 1081px) {
    .focus {
        background-color: #fccc12;
        position: fixed;
        bottom: 542px;
    }
}

@media screen and (max-width: 1080px) {
    .information h1 {
        font-size: 1.5rem;
    }
    .focus {
        background-color: #fccc12;
        position: fixed;
        bottom: 250px;
    }
}