.information {
    color: white;
    margin-right: 95px;
    margin-top: 65px;
    background-color: black;
    position: fixed;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 1px 3px #FBCD0F;
    border-radius: 12px 12px 12px 12px;
    display: flex;
    flex-direction: column;
}

.information h1 {
    width: 429px;
    height: 45px;
    /* color: white; */
    margin-top: 20px;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1281px) {
    .information {
        width: 568px;
        height: 70vh;
        top: 5vh;
        right: 0;
    }
    .focus {
        background-color: #fccc12;
        position: fixed;
        bottom: 300px;
        color: black;
    }
    .information h1 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1280px) {
    .information {
        top: 5vh;
        right: 0;
        height: 70vh;
        width: 60vh;
    }
    .information h1 {
        font-size: 1.5rem;
    }
    .focus {
        color: black;
        background-color: #fccc12;
        position: fixed;
        bottom: 150px;
    }
}