.huePicker {
    display: flex;
    flex-wrap: wrap;
    padding-right: 70px;
    margin-bottom: 10px;
}

.huePicker>li button {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.focused {
    border-bottom: solid 2px black;
    transition: 0.5s all;
}