.hideLateralBar {
  display: none;
}

.showLateralBar {
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: calc(90vh - 60px) ;
  /* height: 80vh;
  margin: 0 90px 0 90px;
  border: 1px solid black; */
}

.wrapper-board {
  position: relative;
  /* width: 1920px;
        height: 1080px; */
  height: calc(100% - 30px);        
  width: calc(100% - 120px);
  margin-bottom: 100px;
  margin-left: 60px
}

.wrapper-board-fullscreen {
  position: static;
  width: 1920px !important;
  height: 1080px !important;
  /* transform: scale(1.4, 1.35);
  width: 75%; */
  z-index: 1000;
}

.textLines {
  font-size: 4rem;
}

.text {
  font-size: 4rem;
  position: absolute;
  align-items: center;
  bottom: 8%;
  /* position: absolute;
    z-index: 1;
    bottom: 23%;
    left: 14%; */
}

.text-fullscreen {
  font-size: 4rem;
  position: absolute;
  align-items: center;
  bottom: 8%;
  /* position: absolute;
        z-index: 1;
        bottom: 23%;
        left: 26%;
        z-index: 2; */
}

.Board {
  position: static;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex; 
  align-items: center;
  justify-content: center;
}


.wrapper-board-fullscreen> .Board {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
.instructions {
  border: 1px black solid;
}

.menu {
  width: 30%;
  height: 70vh;
}


