body {
    margin: 0 auto;
    width: 100%;
}

.logospace {
    padding-top: 65px;
    padding-left: 95px;
}

.App {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header {
    border: 1px black solid;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.logo {
    width: 10%;
    height: 90%;
    background-image: url("./images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


/* .buttons {
    color: white;
    width: 35%;
    height: 100%;
    font-size: 2rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.buttons .li {
    margin-left: 20px;
} */

.content {
    width: 100%;
    height: 90vh;
}

.board-text {
    position: absolute;
    top: 0;
}

.focusedNavbar {
    border-bottom: solid 2px white;
    transition: 0.5s all;
}

.headerino {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    width: 100vw;
    position: absolute;
    height: 100px;
}

.hamburger {
    /* padding-right: 150px;
    padding-top: 65px; */
    background: url("./images/Menu.png") no-repeat;
    z-index: 1000;
    margin-right: 5px;
    margin-top: 65px;
    width: 35px;
    height: 35px;
}

.iconsMenu {
    display: flex;
}

.help {
    /* position: fixed;
    padding-right: 35px;
    right: 95px;
    top: 65px;
    z-index: 1000;
    width: 40px;
    height: 33px; */
    margin-right: 95px;
    margin-top: 65px;
    width: 35px;
    height: 35px;
    background: url('./images/help.svg') no-repeat;
}

.focusedMenu {
    border: 1px solid blue;
    box-shadow: 0 0 3px white;
}

.patty {
    width: 35px;
    height: 5px;
    background-color: white;
    color: red;
    margin: 5px;
    z-index: 90000;
}

.sk-logo {
    width: 150px;
    z-index: 1000;
    fill: white;
}